http_listener/http_listener/src/main/mule/http_listener.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="48867fd4-3945-40a8-b439-28c421efd666" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="2d6db437-332e-476a-948d-7062270c0eda" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="08166f13-3a2d-4dc8-bad8-6f0d05fd8781" >
		<http:request-connection port="8081" />
	</http:request-config>
	<flow name="http_listenerFlow" doc:id="bcf8de93-5b93-40d5-bb63-b49928374256" >
		<http:listener doc:name="Listener" doc:id="e28264bb-09e5-4618-be9d-56154de5bda9" path="/api" config-ref="HTTP_Listener_config"/>
		<set-variable value="#[12]" doc:name="Set Variable" doc:id="d4d8ff37-852f-4731-b92c-b98095e575ab" variableName="var1"/>
		<ee:transform doc:name="Transform Message" doc:id="fdef7668-db18-4267-b3c3-abd54bb2b498" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"name":"Morpheus",
	"job":"Leader",
	"id":"199",
	"createdAt":"2020-02-20T11:00:28.107Z"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6df5cf2d-440d-4c7c-888b-f0b37eafae7a" message="#[payload]"/>
		<http:request method="POST" doc:name="Request" doc:id="526226f5-ae1e-436c-9778-0bb5893b759c" path="/post1" config-ref="HTTP_Request_configuration"/>
	</flow>
	<flow name="http_listenerFlow1" doc:id="0559309a-dab8-4a3f-8475-43552acb28fa" >
		<http:listener doc:name="Listener" doc:id="f36a98b0-8bf3-4616-8683-6c10595572ee" config-ref="HTTP_Listener_config1" path="post1"/>
		<logger level="INFO" doc:name="Logger" doc:id="931b5336-bddf-43f4-b559-ff158deac46c" message="#[payload]"/>
		<logger level="INFO" doc:name="Logger" doc:id="2e1b6012-41f3-4d4a-a892-2588c5a06a79" message="#[vars.var1]"/>
	</flow>
</mule>
